{% trans_default_domain 'FOSUserBundle' %}
{% if app.user.id is not defined %}
    {% if error %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        </div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <div class="form-group">
            <label class="form-label text-dark">Email address</label>
            <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username"
                   name="_username" value="{{ last_username }}" required="required">
        </div>
        <div class="form-group">
            <label class="form-label text-dark">Password</label>
            <input class="form-control" type="password" placeholder="{{ 'security.login.password'|trans }}"
                   id="password"
                   name="_password" required="required">
        </div>
        <div class="form-footer mt-2">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
    </form>
    <div class="text-center  mt-3 text-dark">
        Não tem uma conta? <a href="{{ path('fos_user_registration_register') }}">Cadastre-se</a>
    </div>
{% else %}
    <div class="team-section text-center">
        <h5>Você está logado:</h5>
        <h4 class="font-weight-bold dark-grey-text mt-4">{{ app.user.id }}</h4>
        <a href="{{ path('fos_user_security_logout') }}">
            <button class="btn btn-warning"><i class="fa fa-times"></i> Fazer Logout</button>
        </a>
    </div>
{% endif %}