{% extends 'AppBundle::Layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Editar Endereço</h1>
        <form action="{{ path('endereco_edit', {'id': endereco.id}) }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('form_endereco') }}" >
            <div class="row">
                {% for message in app.flashes('success') %}
                    <div class="col-md-12">
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Quadra</label>
                        <input type="text" class="form-control" name="quadra" maxlength="255" value="{{ endereco.quadra }}"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Número</label>
                        <input type="number" class="form-control"name="numero"  maxlength="5" value="{{ endereco.numero }}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Observação</label>
                <textarea class="form-control" name="obs"  maxlength="255">{{ endereco.obs }}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">Editar Endereço</button>
                <a href="{{ path('index') }}"><button type="button" class="btn btn-secondary ml-4">Voltar</button></a>
            </div>
        </form>
    </div>

{% endblock %}
