{% extends 'AppBundle::Layout.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Quadra</th>
                <th scope="col">Numero</th>
                <th scope="col">Opcṍes</th>
            </tr>
            </thead>
            <tbody>
            {% for e in enderecos %}
                <tr>
                    <th scope="row">{{ e.id }}</th>
                    <td>{{ e.quadra }}</td>
                    <td>{{ e.numero }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{{ path('contatos_show', {'id' : e.contato.id}) }}"><button type="button" class="btn btn-sm btn-primary">Ver Contato</button></a>
                            <a href="{{ path('endereco_show', {'id' : e.contato.id}) }}"><button type="button" class="btn btn-sm btn-success">Ver Endereço</button></a>
                            <a href="{{ path('endereco_delete', {'id' : e.id}) }}"><button type="button" class="btn btn-sm btn-danger">Excluir</button></a>
                            <a href="{{ path('endereco_delete', {'id' : e.id}) }}"><button type="button" class="btn btn-sm btn-warning">Editar</button></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
