{% extends 'AppBundle::Layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Lista de Endereços</h1>
        {% for message in app.flashes('success') %}
            <div class="col-md-12">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Quadra</th>
                <th scope="col">Numero</th>
                <th scope="col">Opcṍes</th>
            </tr>
            </thead>
            <tbody>
            {% for e in enderecos %}
                <tr>
                    <th scope="row">{{ e.id }}</th>
                    <td>{{ e.quadra }}</td>
                    <td>{{ e.numero }}</td>
                    <td>
                        <a href="{{ path('contatos_show', {'id' : e.contato.id}) }}">
                            <button type="button" class="btn btn-primary">Ver Contato</button>
                        </a>
                        <a href="{{ path('endereco_delete', {'id' : e.id}) }}">
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </a>
                        <a href="{{ path('endereco_edit', {'id' : e.id}) }}">
                            <button type="button" class="btn btn-warning">Editar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
