{% extends 'AppBundle::Layout.html.twig' %}

{% block body %}
    <div class="container">
        <h4>Contato</h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">{{ contato.id }} - {{ contato.nome }}</h6>
                    <small class="text-muted">{{ contato.email }}</small>
                </div>
                <span class="text-muted">{{ contato.telefone }}</span>
            </li>
            <li class="list-group-item d-flex float-right lh-condensed">
                {{ form_start(delete_form) }}
                <input class="btn btn-danger float-right" type="submit" value="Excluir">
                {{ form_end(delete_form) }}
                <a class="btn btn-warning ml-2" href="{{ path('contatos_edit', { 'id': contato.id }) }}">Editar</a>
            </li>
        </ul>
        <a href="{{ path('index') }}">
            <button class="btn btn-primary btn-block">Voltar para a lista</button>
        </a>
        <hr>
        <h4>Endereços</h4>
        <ul class="list-group mb-3">
            {% for end in enderecos %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{ end.quadra }} - {{ end.numero }}</h6>
                        <small class="text-muted">{{ end.obs }}</small>
                    </div>
                    <a href="{{ path('endereco_show', {'id' : end.id}) }}"><button class="btn btn-default">Visualizar</button></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
